{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}{{ room_name }}{% endblock %}
{% block contents %}

        {% if not is_active %}
            <h3 class="text-center">Sorry this room is not active</h3>
        {% elif not has_access %}
            <h3 class="text-center">You have no permission in this room</h3>
        {% endif %}

        {% if is_active and has_access %}

            <div class="row">
                <div class="col-md-12">
                    {% if room_obj.start_time and room_obj.max_length > 0 %}
                        <h1>Time remaining: <span id="remaining_time_span"></span></h1>
                    {% endif %}
                    <div id="meet"></div>
                </div>

            </div>
        {% endif %}
{% endblock %}
{% block page_scripts %}
    <script src='{% static 'js/external_api.min.js' %}'></script>
    <script type="text/javascript">

        $(function () {
            const domain = '{{ domain }}';
            const options = {
                roomName: '{{ room_obj.room_id }}',
                width: '100%',
                height: 700,
                parentNode: document.querySelector('#meet'),
                jwt: '{{ token }}',
                interfaceConfigOverwrite: {
                    TOOLBAR_BUTTONS: [
                        'microphone', 'camera', 'desktop', 'fullscreen',
                        'fodeviceselection', 'hangup', 'profile', 'chat',
                         'etherpad', 'settings', 'raisehand',
                        'videoquality', 'filmstrip',   'shortcuts',
                        'tileview',  'mute-everyone',
                        'e2ee'
                    ],
                    SHOW_BRAND_WATERMARK: true,
                    BRAND_WATERMARK_LINK: 'https://talk.gomeeting.org:8000{% static 'img/company_logo.jpeg' %}',
                }

            };
            const api = new JitsiMeetExternalAPI(domain, options);
            var isModeratorHere = false;
            {% if is_moderator %}
                isModeratorHere = true;
            {% endif %}

            api.executeCommand('subject', '{{ room_obj.name }}');

            {#api.addEventListener('videoConferenceLeft', function () {#}
            {#    window.location = "{% url 'room:room_list' %}";#}
            {# }); #}

            api.addEventListener('participantJoined', function (data) {
                {% if not room_obj.host_join_time and room_obj.max_length > 0 %}
                    if(!isModeratorHere) {
                        $.ajax({
                            url: '{% url 'room:room_json_details' room_obj.id %}'
                        }).done(function (data) {
                            if(data['host_join_time'] && data['max_length']) {
                                console.log("Moderator joined");
                                isModeratorHere = true;
                                startCountDown(parseInt(data['host_join_time']), parseInt(data['max_length']) )
                            }
                        });
                    }
                {% endif %}
            });

            {% if room_obj.host_join_time and room_obj.max_length > 0  %}
                startCountDown({{ room_obj.host_join_time }}, {{ room_obj.max_length }});
            {% endif %}

            function startCountDown(start_time, max_length) {
                var end_time = start_time + max_length * 60 * 1000;
                setInterval(function () {
                    if(end_time-moment().valueOf()>0) {
                        var remaining_time = moment.duration(end_time - moment().valueOf(), 'milliseconds');
                        $("#remaining_time_span").text(remaining_time.minutes() + " minutes" + remaining_time.seconds() + " seconds");
                    }
                    else{
                        $("#remaining_time_span").text("Finished");

                    }
                }, 1000);
            }
        });
    </script>
{% endblock %}