{% extends 'base.html' %}
{% block contents %}
    <div>
    <h3 class="pull-left">Meeting List</h3>

    <div class="pull-right">
        <a href="{% url 'room:create_room' %}" class="btn btn-primary">Create a new meeting</a>
    </div>
    <div class="clearfix"></div>
    </div>
    <div class="col-md-8">
    <table class="table">
        <tr>
            <th>Meeting Name</th>
            <th>Meeting Id</th>
            <th>Start time</th>
            <th>Maximum number of users</th>
            <th>Maximum meeting time length (in Minutes)</th>
            <th>Status</th>
            <th>Created by</th>
            <th></th>
        </tr>
        {% for room in object_list %}
            <tr>
                <td>{{ room.name }}</td>
                <td>{{ room.room_id }}</td>
                <td>
                    <span class="start_time_span">{{ room.start_time }}</span>
                </td>
                <td>
                    {% if room.max_number_of_user < 0 %}
                    Unlimited
                    {% else %}
                    {{ room.max_number_of_user }}
                    {% endif %}
                </td>
                <td>
                    {% if room.max_length < 0 %}
                    Unlimited
                    {% else %}
                    {{ room.max_length }}
                    {% endif %}
                </td>
                <td>{{ room.status }}</td>
                <td>{{ room.created_by }}</td>
                <td>
                    {% if room.created_by == user %}
                        <a href="{% url 'room:room_update' room.id %}" class="btn btn-primary">Update Meeting</a>
                        <a href="{% url 'room:join_room' room.id %}" class="btn btn-primary">Join Meeting</a>


                        <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="top" data-content="http://{{ request.get_host }}{% url 'room:join_guest_room' room.room_id %}">
                          Sharable link
                        </button>
                        <a href="{% url 'room:delete_room' room.id %}" class="btn btn-danger">Delete Meeting</a>

                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
    <div class="col-md-4">
        <button id="authorize_button" class="btn btn-primary" style="display: none;">Add Google Calender</button> <button id="signout_button" class="btn btn-primary" style="display: none;">Remove Google Calender</button>
        <button id="authorize_ms_button" class="btn btn-primary" style="display: none;" onclick="outlookSignIn()">Add Outlook Calender</button> <button id="signout_ms_button" class="btn btn-primary" style="display: none;" onclick="outlookSignOut()">Remove Outlook Calender</button>
        <div>
            <h5>Google calender events</h5>
            <div  id="content">

            </div>
        </div>
        <div>
            <h5>Outlook calender events</h5>
            <div  id="content_ms">

            </div>
        </div>
    </div>
    <span class="share_link_span" style="display: none;"></span>
{% endblock %}
{% block page_script %}
    <script>
        var SCOPES = "https://www.googleapis.com/auth/calendar.readonly https://www.googleapis.com/auth/calendar";
        var authorizeButton = document.getElementById('authorize_button');
        var signoutButton = document.getElementById('signout_button');
        var DISCOVERY_DOCS = ["https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest"];

        function handleClientLoad() {
            gapi.load('client:auth2', initClient);
        }

        function initClient() {
            gapi.client.init({
                apiKey: "AIzaSyDTXgC5Ll9bhz1gpBfrhUP2HGN539w8JCI",
                clientId: "110448409460-2vm0cnh7pdo6i2o30rac7929413vl1tm.apps.googleusercontent.com",
                discoveryDocs: DISCOVERY_DOCS,
                scope: SCOPES
            }).then(function () {
                // Listen for sign-in state changes.
                gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);

                // Handle the initial sign-in state.
                updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
                authorizeButton.onclick = handleAuthClick;
                signoutButton.onclick = handleSignoutClick;
            }, function (error) {
                {#appendPre(JSON.stringify(error, null, 2));#}
            });
        }

        function updateSigninStatus(isSignedIn) {
            if (isSignedIn) {
                authorizeButton.style.display = 'none';
                signoutButton.style.display = 'inline';
                listUpcomingEvents();
            } else {
                authorizeButton.style.display = 'inline';
                signoutButton.style.display = 'none';
            }
        }

        function handleAuthClick(event) {
            gapi.auth2.getAuthInstance().signIn();
        }

        /**
         *  Sign out the user upon button click.
         */
        function handleSignoutClick(event) {
            gapi.auth2.getAuthInstance().signOut();
        }

        function appendPre(message) {
            var pre = document.getElementById('content');
            var textContent = document.createTextNode(message);
            pre.appendChild(textContent);
            pre.appendChild(document.createElement("br"));

        }

        function addEvent(room) {
            var time_zone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            var event = {
                'summary': room.name,
                'location': 'https://talk.gomeeting.org:8000/room/'+room.room_id+'/join/as-guest/',
                'description': 'Join Go meeting room: '+room.name,
                'reminders': {
                    'useDefault': false,
                    'overrides': [
                        {'method': 'email', 'minutes': 24 * 60},
                        {'method': 'popup', 'minutes': 10}
                    ]
                }
            };
            if(room.max_length==-1) {
                var today = '', end_day = '';
                var start_moment , end_moment;
                if(room.already_started) {
                    start_moment = moment();
                    today = start_moment.format('YYYY-MM-DD');
                    today += "T00:00:00-23:59";
                } else {
                    start_moment = moment(room.start_time);
                    today=start_moment.format('YYYY-MM-DDTHH:mm:ss');
                    today += "-23:59";
                }
                event['start'] = {
                    'dateTime': today,
                    'timeZone': time_zone
                };

                end_moment = start_moment.add(1, 'days');
                end_day = end_moment.format('YYYY-MM-DD');
                end_day += "T00:00:00-23:59";

                event['end'] = {
                    'dateTime': end_day,
                    'timeZone': time_zone
                }

            } else {
                var today = '', end_day = '';
                var start_moment , end_moment;
                start_moment = moment(room.start_time);
                today=start_moment.format('YYYY-MM-DDTHH:mm:ss');
                end_moment = start_moment.add(room.max_length, 'minutes');
                end_day = end_moment.format('YYYY-MM-DDTHH:mm:ss');
                event['start'] = {
                    'dateTime': today,
                    'timeZone': time_zone
                };
                event['end'] = {
                    'dateTime': end_day,
                    'timeZone': time_zone
                }
            }

            console.log(event);
            var request = gapi.client.calendar.events.insert({
                'calendarId': 'primary',
                'resource': event
             });

            request.execute(function (event) {
                markSingleRoomAsGoogleSynced(room.id, 1);
                appendPre('Event created: ' + event.htmlLink);
             });
        }


        function markSingleRoomAsGoogleSynced(room_id, is_synced) {
            $.ajax({
                url: '{% url 'room:room_google_sync' %}?room_id='+room_id+'&is_synced='+is_synced
            }).done(function (data) {
                console.log(data);
            });
        }

        function getRoomIdsFromEvents(eventList) {
            var res = [];
            for(var i=0;i<eventList.length;i++){
                var event = eventList[i];
                if(event.location && event.location.startsWith("https://talk.gomeeting.org:8000/room/")) {
                    res.push(event.location.split("https://talk.gomeeting.org:8000/room/")[1].split("/join/as-guest/")[0]);
                }
            }
            return res;
        }
        function getDatabaseRooms(event_list) {
            var roomIdList = getRoomIdsFromEvents(event_list);
            $.ajax({
                url: '{% url 'room:room_google_calender' %}'
            }).done(function (data) {
                var synced_id = [];
                if(data.length > 0) {

                    for(var i=0;i<data.length;i++){
                        if(!roomIdList.includes(data[i].room_id)) {
                            addEvent(data[i]);
                        }
                    }
                }
            });
        }

        function listUpcomingEvents(sync_db) {
            gapi.client.calendar.events.list({
                'calendarId': 'primary',
                'timeMin': (new Date()).toISOString(),
                'showDeleted': false,
                'singleEvents': true,
                'maxResults': 10,
                'orderBy': 'startTime'
            }).then(function (response) {
                var events = response.result.items;
                console.log(events);
                getDatabaseRooms(response.result.items);

                if (events.length > 0) {
                    for (i = 0; i < events.length; i++) {
                        var event = events[i];
                        var when = event.start.dateTime;
                        if (!when) {
                            when = event.start.date;
                        }
                        if(event.location && event.location.startsWith("https://talk.gomeeting.org:8000/room/")) {
                            room_id = event.location.split("https://talk.gomeeting.org:8000/room/")[1].split("/join/as-guest/")[0];
                            appendPre(event.summary + ' (' + when + ') ')
                        }

                    }
                } else {
                    appendPre('No upcoming events found.');
                }
            });
        }
    </script>
    <script async defer src="https://apis.google.com/js/api.js"
            onload="this.onload=function(){};handleClientLoad()"
            onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
    <script type="text/javascript">
    $(function(){
        $(".start_time_span").each(function () {
            var time = parseInt($(this).text());
            if(time == 0){
                $(this).text("-");
            }
            else{
                $(this).text(moment(time).format('DD/MM/YYYY hh:mm a'));
            }

        });
        $('[data-toggle="popover"]').popover();
    });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bluebird@3.7.2/js/browser/bluebird.min.js"></script>
    <script src="https://alcdn.msftauth.net/lib/1.2.1/js/msal.js"
            integrity="sha384-9TV1245fz+BaI+VvCjMYL0YDMElLBwNS84v3mY57pXNOt6xcUYch2QLImaTahcOP"
            crossorigin="anonymous"></script>

    <!-- Graph SDK -->
    <script src="https://cdn.jsdelivr.net/npm/@microsoft/microsoft-graph-client/lib/graph-js-sdk.js"></script>
    <script type="text/javascript">
        const msalConfig = {
            auth: {
                clientId: '5b005403-dd7b-4872-be03-435a9a9d43f3',
                redirectUri: 'http://localhost:8000/calender/'
            },
            cache: {
                cacheLocation: "sessionStorage",
                storeAuthStateInCookie: false,
                forceRefresh: false
            }
        };
        const loginRequest = {
            scopes: [
                'profile',
                'user.read',
                'calendars.readWrite'
            ]
        };
        const authorizeMsButton = document.getElementById('authorize_ms_button');
        const signOutMsButton = document.getElementById('signout_ms_button');
        const msContentElement = document.getElementById('content_ms');
        const msalClient = new Msal.UserAgentApplication(msalConfig);
        const options =
            new MicrosoftGraph.MSALAuthenticationProviderOptions([
                'profile',
                'user.read',
                'calendars.readWrite'
            ]);
        // Create an authentication provider for the implicit flow
        const authProvider =
            new MicrosoftGraph.ImplicitMSALAuthenticationProvider(msalClient, options);
        // Initialize the Graph client
        const graphClient = MicrosoftGraph.Client.initWithMiddleware({authProvider});
        function appendMsText(data) {
            msContentElement.appendChild(document.createTextNode(data));
            msContentElement.appendChild(document.createElement("br"));
        }
        function showAccountNav(account, data) {

            if (account) {
                authorizeMsButton.style.display = 'none';
                signOutMsButton.style.display = 'inline';
                appendMsText("Account signed in:"+account.name+" ("+account.userName+")");
            } else {
                // Show a "sign in" button
                authorizeMsButton.style.display = 'inline';
                signOutMsButton.style.display = 'none';
            }
        }
        function updatePage(account, data) {
            showAccountNav(account, data);
        }
        function markSingleRoomAsOutlookSynced(room_id, is_synced) {
            $.ajax({
                url: '{% url 'room:room_outlook_sync' %}?room_id='+room_id+'&is_synced='+is_synced
            }).done(function (data) {
                console.log(data);
            });
        }
        function getRoomIdsFromOutlookEvents(eventList) {
            var res = [];
            for(var i=0;i<eventList.length;i++){
                var event = eventList[i];
                if(event.location && event.location.displayName.startsWith("https://talk.gomeeting.org:8000/room/")) {
                    res.push(event.location.displayName.split("https://talk.gomeeting.org:8000/room/")[1].split("/join/as-guest/")[0]);
                }
            }
            return res;
        }
        async function addOutlookEvent(room) {
            var time_zone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            const event = {
                subject: room.name,
                body: {
                    contentType: "HTML",
                    content: 'Join Go meeting room: '+room.name,
                },
                location: {
                    displayName: 'https://talk.gomeeting.org:8000/room/'+room.room_id+'/join/as-guest/'
                },
                attendees: [],
                isOrganizer: true,
                isOnlineMeeting: true
            };
            if(room.max_length==-1) {
                var today = '', end_day = '';
                var start_moment , end_moment;
                if(room.already_started) {
                    start_moment = moment();
                    today = start_moment.format('YYYY-MM-DD');
                    today += "T00:00:00";
                } else {
                    start_moment = moment(room.start_time);
                    today=start_moment.format('YYYY-MM-DDTHH:mm:ss');
                }
                event['start'] = {
                    'dateTime': today,
                    'timeZone': time_zone
                };

                end_moment = start_moment.add(1, 'days');
                end_day = end_moment.format('YYYY-MM-DD');
                end_day += "T23:59";

                event['end'] = {
                    'dateTime': end_day,
                    'timeZone': time_zone
                }

            } else {
                var today = '', end_day = '';
                var start_moment , end_moment;
                start_moment = moment(room.start_time);
                today=start_moment.format('YYYY-MM-DDTHH:mm:ss');
                end_moment = start_moment.add(room.max_length, 'minutes');
                end_day = end_moment.format('YYYY-MM-DDTHH:mm:ss');
                event['start'] = {
                    'dateTime': today,
                    'timeZone': time_zone
                };
                event['end'] = {
                    'dateTime': end_day,
                    'timeZone': time_zone
                }
            }
            let res = await graphClient.api('/me/calendar/events').post(event);
            markSingleRoomAsOutlookSynced(room.id, 1);
        }

        async function getDatabaseOutlookRooms(event_list) {
            var roomIdList = getRoomIdsFromOutlookEvents(event_list);
            $.ajax({
                url: '{% url 'room:room_outlook_calender' %}'
            }).done(function (data) {
                console.log(data);
                var synced_id = [];
                if(data.length > 0) {

                    for(var i=0;i<data.length;i++){
                        if(!roomIdList.includes(data[i].room_id)) {
                            addOutlookEvent(data[i]);
                        }
                    }
                }
            });
        }

        async function getEvents() {
            try {
                let events = await graphClient
                    .api('/me/events')
                    .select('subject,organizer,start,end,location')
                    .orderby('createdDateTime DESC')
                    .get();
                events = events.value;
                getDatabaseOutlookRooms(events);
                if (events.length > 0) {
                    for (i = 0; i < events.length; i++) {
                        var event = events[i];
                        var when = event.start.dateTime;
                        if (!when) {
                            when = event.start.date;
                        }
                        if(event.location && event.location.displayName.startsWith("https://talk.gomeeting.org:8000/room/")) {
                            room_id = event.location.displayName.split("https://talk.gomeeting.org:8000/room/")[1].split("/join/as-guest/")[0];
                            appendMsText(event.subject + ' (' + when + ') ')
                        }

                    }
                } else {
                    appendMsText('No upcoming events found.');
                }
            } catch (error) {
                updatePage(msalClient.getAccount(), {
                    message: 'Error getting events',
                    debug: error
                });
            }
        }

        async function outlookSignIn() {
            // Login
            try {
                await msalClient.loginPopup(loginRequest);
                console.log('id_token acquired at: ' + new Date().toString());
                if (msalClient.getAccount()) {
                    updatePage(msalClient.getAccount());
                    getEvents();
                }
            } catch (error) {
                console.log(error);

            }
        }

        function outlookSignOut() {
             msalClient.logout();
        }
        if (msalClient.getAccount() && !msalClient.isCallback(window.location.hash)) {
            updatePage(msalClient.getAccount());
            getEvents();
        } else {
            updatePage();
        }

    </script>
{% endblock %}