{% extends 'base.html' %}
{% block contents %}
    <div>
    <h3 class="pull-left">Meeting List</h3>

    <div class="pull-right">
        <a href="{% url 'room:create_room' %}" class="btn btn-primary">Create a new meeting</a>
    </div>
    <div class="clearfix"></div>
    </div>
    <table class="table">
        <tr>
            <th>Meeting Name</th>
            <th>Meeting Id</th>
            <th>Start time</th>
            <th>Maximum number of users</th>
            <th>Maximum meeting time length (in Minutes)</th>
            <th>Status</th>
            <th>Created by</th>
            <th></th>
        </tr>
        {% for room in object_list %}
            <tr>
                <td>{{ room.name }}</td>
                <td>{{ room.room_id }}</td>
                <td>
                    <span class="start_time_span">{{ room.start_time }}</span>
                </td>
                <td>
                    {% if room.max_number_of_user < 0 %}
                    Unlimited
                    {% else %}
                    {{ room.max_number_of_user }}
                    {% endif %}
                </td>
                <td>
                    {% if room.max_length < 0 %}
                    Unlimited
                    {% else %}
                    {{ room.max_length }}
                    {% endif %}
                </td>
                <td>{{ room.status }}</td>
                <td>{{ room.created_by }}</td>
                <td>
                    {% if room.created_by == user %}
                        <a href="{% url 'room:room_update' room.id %}" class="btn btn-primary">Update Meeting</a>
                        <a href="{% url 'room:join_room' room.id %}" class="btn btn-primary">Join Meeting</a>


                        <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="top" data-content="http://{{ request.get_host }}{% url 'room:join_guest_room' room.room_id %}">
                          Sharable link
                        </button>
                        <a href="{% url 'room:delete_room' room.id %}" class="btn btn-danger">Delete Meeting</a>

                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <span class="share_link_span" style="display: none;"></span>
{% endblock %}
{% block page_script %}
    <script type="text/javascript">
    $(function(){
        $(".start_time_span").each(function () {
            var time = parseInt($(this).text());
            if(time == 0){
                $(this).text("-");
            }
            else{
                $(this).text(moment(time).format('DD/MM/YYYY hh:mm a'));
            }

        });
        $('[data-toggle="popover"]').popover();
    });
    </script>
{% endblock %}