{% extends 'base.html' %}
{% block contents %}
    {% if user.is_staff %}
    <div>
    <h3 class="pull-left">Manage admins</h3>
        <div class="pull-right">
            {% if user.is_staff and user.is_superuser %}
                <a href="{% url 'accounts:create_admin' %}" class="btn btn-primary">Create an admin</a>
            {% endif %}
        </div>

    <div class="clearfix"></div>
    </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Active</th>
            <th>Staff</th>
            <th>Superuser</th>
            <th></th>
        </tr>
        {% for admin in object_list %}
            <tr>
                <td>{{ admin.user.first_name }}</td>
                <td>
                    {{ admin.user.username }}
                </td>
                <td>
                    {{ admin.user.email }}
                </td>
                <td>
                    {% if admin.user.is_active %}
                    Active
                    {% else %}
                        Inactive
                    {% endif %}
                </td>
                <td>
                    {% if admin.user.is_staff %}
                    Staff
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if admin.user.is_superuser %}
                    Super User
                    {% else %}
                        -
                    {% endif %}
                </td>

                <td>
                    <a href="{% url 'accounts:admin_update' admin.user.id %}" class="btn btn-primary">Update</a>
                    {% if user.is_staff and user.is_superuser %}
                        <a href="{% url 'accounts:update_user_password' admin.user.id %}" class="btn btn-primary">Update Password</a>
                        <a href="{% url 'accounts:delete_creator' admin.user.id %}" class="btn btn-danger">Delete user</a>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <div class="alert alert-danger">
            You do not have access to this page yet
        </div>
    {% endif %}
{% endblock %}