{% extends 'base.html' %}
{% load static %}
{% block contents %}
    {% if user.is_staff and user.is_superuser and user.profile.user_type == 'admin' %}
    <h1>Update user password</h1>
    {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
    {% endif %}

    <form action="." method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {% if field.field.widget.is_hidden is not True %}
                    {% if field.field.required %}
                        <label>{{ field.label }}<span class="required"> * </span></label>
                    {% else %}
                        <label>{{ field.label }}</label>
                    {% endif %}
                {% endif %}
                {{ field }}
                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-large btn-primary">Update</button>
    </form>
    {% else %}
        <div class="alert alert-danger">
            You do not have access to this page yet
        </div>
    {% endif %}
{% endblock %}